.box{
    /* width: 50vw;
    height: 20vh;
    border: 2px solid black; */
    /* overflow: scroll; */
    /* overflow: ; */

    /* overflow-x: hidden;
    overflow-y: scroll; */

    /* overflow: auto hidden; */
    /* text-overflow: ellipsis;
    white-space: nowrap; */

    width: 550px;
    height: 150px;
    border: 2px solid red;
    overflow: auto scroll;
    text-overflow: ellipsis;
    word-break: break-all;
}