:root{
    --color:red;
    --bg:green;
    --pp:12px;
}

/* *{
    margin: 0;
    padding: 0;
} */

#div1 ul{
    list-style: none;
    display: flex;
    background-color: var(--bg);
    padding: var(--pp);
}

#div1 li{
    margin: 12px;
    padding: var(--pp);
    color:var(--color);
}

